<div class="head">
<h1>HomePage</h1>
<h2>All posts</h2>
</div>
{{#each blogs}}
<a href="/comment/{{id}}">
<div class="blog">
    <section class="status-box">
        <h2 class="title">{{title}}</h2>
        <h3>{{status}}</h3>
        <p>{{User.name}} posted on {{User.createdAt}}</p>
        {{!-- <button class="form-btn" name="{{id}}" id="commentBtn">+ Add Comment</button> --}}
        {{!-- <button class="form-btn" name="{{id}}" id="viewCommentBtn">View Comments</button> --}}
    </section>
</div>
</a>
{{/each}}

<script src="/js/home.js"></script>